body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
}

/*Header*/

ul, li 
{
    display: flex;
    padding: 0;
    margin: 0;
}

.header 
{
    font-weight: 500;
    font-size: 14px;
    background: #1F2937;
}

.nav 
{
    background: #1F2937;
    width: 1257px;
    height: 80px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    color: #D1D5DB;
}

.header a 
{
    transition: color .3s linear;
    transition: background .25s linear;
    transition: padding .3s linear;
}

.header a:hover 
{
    color: #fff;
}

.menu a:focus:not(.menu_account__name):not(.menu_account__avatar) 
{
    color: #fff;
    background: #111827;
    border-radius: 6px;
    padding: 8px 12px;
}

.header ul, li
{
    flex-grow: 1;
}

.menu {
    align-items: center;
}

.menu__Main 
{
    margin-left: 3.34%;
}

.menu__account {
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 15px;
}

.menu__Contacts
{
    margin-right: 36.75%;
}

/*HEADER END*/

.main 
{
    width: 1257px;
    //display: flex;
    margin: 65px auto 0px auto;
    //background: #ffff0021;
}

.PersonalPage
{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #000;
    text-align: center;
}

.main__box 
{
    margin-top: 50px;
}

.HealthyInfo
{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000;
    margin-bottom: 50px;
}

.TwoBoxes
{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.leftbox 
{
    width: 406px;
    height: 578px;
    background: #FCFFE7;
    border: 1px solid #000;

}

.leftbox__text
{
    padding: 30px;
}

.leftbox__text__zagol
{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 16px;
}

.list1 
{
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.rightbox
{
    width: 832px;
    height: 578px;
    background: #FFFFFF;
    border: 1px solid #000;
}

.rightbox__text
{
    padding: 30px 30px 30px 30px;
}

.rightbox__title
{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000;
    margin-bottom: 26px;
}

.rightbox__title__h1
{
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #000;
    margin-bottom: 15px;
}

.rightbox__p
{
    margin-bottom: 20px;
}

/*TwoBoxes END*/

.InterestingStats
{
    margin-top: 100px;
}

.Interesting__title, .Interesting__desc 
{
    text-align: center;
}

.Interesting__title
{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #000;
}

.Interesting__desc 
{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #6B7280;
    margin: 16px 0 48px 0;
}

.Posts 
{
    display: flex;
    grid-gap: 20px;
}

.Post 
{
    width: 406.33px;
    height: 520px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
}

.Post__img 
{
    border-radius: 8px 8px 0 0;
}

.Post__titleandtext
{
    height: 63%;
    display: flex;
    padding: 24px;
    flex-wrap: wrap;
}

.post__title
{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #111827;
    margin-bottom: 12px;
}

.post__text
{
    font-weight: 400;
    font-size: 16px;
    color: #6B7280;

}

.post__subtext
{
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    display: flex;
    align-items: flex-end;
}

.footer__back
{
    background: #6A6A6A;
    height: 108px;
    margin-top: 100px;
}

.footer 
{
    background: #6A6A6A;
    width: 1257px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 11px;
    text-align: right;
    color: #FFFFFF;
}

.footer__info 
{
    padding: 44px 0;
}