body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    height: 100%;
}

/*Header*/

ul, li 
{
    display: block;
    padding: 0;
    margin: 0;
}

.logo {
    margin-left: 17.2%;
    margin-right: 42px;
    width: 252px;
    height: 60px;
    background: url(../img/IKITLogo.png);
    flex: none;
    order: 0;
    flex-grow: 0;
}
header a {
    color: #D1D5DB; 
}
.menu {
    display: flex;
}
.menu li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    //display: inline-block;
    vertical-align: top;
    transition: color .2s linear;
}

.menu li {
    margin-right: 40px
}

nav {
    display: flex;
    align-items: center;
    width: 1920px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #1F2937;
}

nav .menu .Main a {
    color: #fff;
    padding: 10px;
    min-height: 20px;
    min-width: 53px;
    background: #111827;
    border-radius: 6px;
}
nav .menu a:hover {
    color: #fff;
}

.Name {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    margin-left: auto;
    margin-right: 10px;
}

.avatar {
    margin-right: 17.2%;
    width: 32px;
    height: 32px;
    background: url(../img/AvatarUser.png);
    background-color: #F5F5F5;
    border-radius: 90px;
}

/*Main*/

.PersonalPage {
    margin-top: 65px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
}
.HealthyInfo {
    font-weight: 700;
    font-size: 32px;

    margin: 0 auto;
    position: relative;
    max-width: 1920px;
    flex: none;
    order: 0;
    flex-grow: 0;
    //background-color: #ff0;
    padding-left: 331px;
}
.leftbox {
    box-sizing: border-box;

    position: absolute;
    width: 406px;
    height: 578px;

    background: #FCFFE7;
    border: 1px solid #000000;
    margin-left: 331px;
}
.rightbox {
   box-sizing: border-box;

    position: absolute;
    width: 832px;
    height: 578px;

    background: #FFFFFF;
    border: 1px solid #000000;
    margin-left: calc(1920px - 330px - 832px);
}
.main {
    max-width: 1920px;
    margin: 50px auto;
    height: 578px;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;

    //background-color: #ff0;
}

.Zagol {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #000;
    padding: 30px 30px 16px 30px;
}
.list1 {
    padding-left: 29px;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000;
}
.rightbox__title {
    padding: 30px 30px 26px 32px;
    position: absolute;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

    color: #000;
}
.rightbox__title2 {
    padding: 53px 30px 26px 32px;
    position: absolute;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    //background-color: #ff0;
    color: #000;
}
.rightbox__p1 {
    padding: 88px 30px 26px 32px;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    //background-color: #ff0;
    color: #000;
}
.rightbox__title3 {
    padding: 208px 30px 26px 32px;
    position: absolute;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    //background-color: #ff0;
    color: #000;
}
.rightbox__p2 {
    padding: 243px 30px 26px 32px;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    //background-color: #ff0;
    color: #000;
}
.InterestingStats {
    position: absolute;
    width: 1261px;
    height: 652px;

    //background: #FF0;
    margin: 728px 331px 100px 331px;
}
.Interesting__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    text-align: center;
    letter-spacing: -0.025em;

    color: #000000;

    flex: none;
    margin-top: -58px;
}
.Interesting__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 16px 0px 0px 0px;
    text-align: center;

    color: #6B7280;
}

.Posts {
    max-width: 1259px;
    margin: 50px auto;
    height: 520px;
    //background-color: #ff0;
}

.Post__1 {
    width: 406.33px;
    height: 520px;
    background: #fff;
    border: 1px solid #000000;
    border-radius: 8px;
    position: absolute;
}
.Post__2 {
    width: 406.33px;
    height: 520px;
    background: #fff;
    border: 1px solid #000000;
    border-radius: 8px;
    position: absolute;
    margin-left: 427.33px;
}
.Post__3 {
    width: 406.33px;
    height: 520px;
    background: #fff;
    border: 1px solid #000000;
    border-radius: 8px;
    position: absolute;
    margin-left: 853.67px;
}
.img1 {
    width: 406px;
    height: 192px;
    border-radius: 7px 7px 0px 0px;
    //margin-top: -0.1px;
}

.post__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding: 24px 24px 12px 24px;
    color: #111827;
}

.post__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 24px 24px 24px;
    color: #6B7280;
}

.post__subtext {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
    padding: 0 0 0 24px;
    position: absolute;
    bottom: 24px;
}

footer {
    width: 1920px;
    height: 108px;
    background: #6A6A6A;
    margin: 0 auto;
    margin-top: 852px;

}

.footer__info {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    padding: 44px 331px 44px 1236px;
    color: #fff;
}